.home-hero2 {
  background: #f7f7f7;
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }
  }
  &__main {
    padding: 10rem 0;
    max-width: 60rem;
    order: 2;
    @include respond(big-desktop){
        transform: translateX(5%);
    }
    @include respond(phone) {
      padding: 5rem 0;
    }
  }
  &__visual {
    display: flex;
    align-items: flex-end;
    order: 1;
    @include respond(big-desktop){
        transform: translateX(-5%);
    }
    @include respond(tab-land) {
      display: none;
    }
  }
  &__visual-img {
    width: 100%;
    height: 100%;
  }
  &__slider-arrow {
    background: #fff;
    display: inline-block;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    @include respond(tab-land) {
      display: none;
    }

    img {
      width: 20%;
    }
    &--left {
      left: 2rem;
      @include respond(big-desktop) {
        left: 5rem;
      }
    }
    &--right {
      right: 2rem;
      @include respond(big-desktop) {
        right: 5rem;
      }
    }
  }
  &__circles {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 10rem;
    justify-content: space-around;
    @include respond(tab-land) {
      display: none;
    }
  }
  &__circle {
    width: 8px;
    height: 8px;
    border: 1px solid #ff3263;
    border-radius: 100px;

    color: #ff3263;
    &--active {
      background: #ff3263;
    }
  }
}
