.container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.text {
  &__hl {
    color: #ff3263;
  }
}

.heading-section {
  @include fontTert;
  font-weight: 500;
  margin-bottom: 5rem;
  &--cent {
    text-align: center;
  }
  &__top {
    color: #a9a9a9;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
  &__main {
    font-size: 4rem;
  }
}

.mb-med {
  margin-bottom: 3rem;
}




.unshadow {
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}