.main-header {
  background: #f6f6f6;
  position: fixed;
  z-index: 100;
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    @include respond(tab-land) {
      padding: 0 2rem;
      justify-content: center;
    }
  }
  &__top-main {
    @include respond(tab-land) {
      padding: 1rem 0;
    }
  }
  &__top-text {
    font-size: 1.2rem;
    font-weight: 700;
    @include respond(tab-land) {
      padding: 0px 0;
      text-align: center;
    }
  }

  &__top-contact {
    display: flex;
    @include respond(tab-land) {
      display: none;
    }
  }
  &__top-contact-main {
    display: flex;
    padding: 1.5rem 1rem 1.5rem 0;
    border-right: 0.5px solid #c4c4c4;
  }
  &__top-contact-item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  &__top-contact-item-img {
    width: 1.2rem;
    margin-right: 1rem;
  }
  &__top-contact-item-info {
    font-size: 1.2rem;
    color: #818181;
    font-weight: 700;
  }
  &__top-contact-sub {
    display: flex;
    align-items: center;
  }
  &__top-lang-select-cont {
    padding: 0 0rem 0 2rem;
  }
  &__top-lang-select {
    background: transparent;
    border: none;
    color: #818181;
    cursor: pointer;
  }
  &__top-socials {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  &__top-socials-img {
    width: 1.5rem;
    margin: 0 1rem 0 0;
    &:last-child {
      margin: 0;
    }
  }
  &__main {
    background: #fff;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    @include respond(tab-land) {
      padding: 0 5rem;
    }
    @include respond(phone) {
      padding: 0 0 0 2rem;
    }
  }
  &__logo-cont {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__logo {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include fontTert;
    font-weight: 400;
  }
  &__links {
    display: flex;
    height: 100%;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__link {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  &__shop-dd-wrapper,
  &__colln-dd-wrapper {
    position: fixed;
    width: 100%;
    top: 108px;
    left: 0;
    z-index: 150;

    @include respond(tab-land) {
      top: 91px;
    }
  }

  &__shop-dd,
  &__colln-dd {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120rem;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;

    @include respond(tab-land) {
      width: 98%;
    }
    @include respond(tab-port) {
      display: none;
    }
  }
  &__shop-dd-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }
  &__shop-dd-row-item {
    padding: 5rem 3rem;
  }
  &__shop-dd-new-arrival-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  &__shop-dd-new-arrival-title {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    color: #000;
  }
  &__shop-dd-new-arrival-item {
    padding: 2rem 2rem 0 2rem;
    background: #f6f6f6;
  }
  &__shop-dd-new-arrival-item-name {
    color: #505050;
    margin-bottom: 3px;
    font-size: 1.3rem;
  }
  &__shop-dd-new-arrival-item-price {
    color: #9c9c9c;
    font-weight: 700;
    font-size: 1.2rem;
  }
  &__shop-dd-new-arrival-item-img-cont {
    text-align: center;
  }
  &__shop-dd-new-arrival-item-img {
    width: 70%;
  }

  &__colln-dd-wrapper {
  }

  &__colln-dd {
    // padding: 4rem 3rem;
  }

  &__colln-dd-row {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
  }
  &__colln-dd-row-item {
    padding: 5rem 3rem;
  }
  &__colln-dd-prd-wide-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  &__colln-dd-prd-wide {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 1.5rem 2rem 1.5rem 1rem;
  }

  &__colln-dd-prd-wide-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  &__colln-dd-prd-wide-img {
    width: 100%;
  }
  &__colln-dd-prd-wide-title {
    font-size: 1.5rem;
    margin-right: 8px;

    color: #000;
  }
  &__colln-dd-prd-wide-desc {
    color: #4d4d4d;
    font-size: 1rem;
  }
  &__colln-dd-prd-wide-content-top {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }

  &__colln-dd-single-prd {
    padding: 0 2rem 2rem 2rem;
    background: #f7f7f7;
  }

  &__colln-dd-single-prd-img-cont {
  }
  &__colln-dd-single-prd-img {
    width: 60%;
  }

  &__link {
    &:hover {
      color: #ff3263;
    }
  }
  &__link-dd {
    position: relative;
    &:hover::after {
      content: '';
      position: absolute;
      top: calc(100% - 1.5rem);
      left: 50%;
      transform: translateX(-50%);

      width: 4rem;
      height: 1.5rem;
      z-index: 1000;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
  &__link-text {
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 0.2s;
  }
  &__link-icon {
    width: 1rem;
    margin-left: 10px;
  }
  &__actions {
    display: flex;
  }
  &__action {
    padding: 0rem;
    height: 6rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      width: 5rem;
    }
  }
  &__action-icon {
    width: 1.4rem;
    @include respond(phone) {
      width: 2rem;
    }
  }
  &__ham-menu-cont {
    display: none;

    @include respond(tab-port) {
      display: flex;
    }
  }
}

.home-hero {
  background: #f7f7f7;
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-gap: 6rem;
    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }
  }
  &__main {
    padding: 10rem 0;
    max-width: 60rem;
    @include respond(phone) {
      padding: 5rem 0;
    }
  }
  &__visual {
    display: flex;
    align-items: flex-end;
    @include respond(tab-land) {
      display: none;
    }
  }
  &__visual-img {
    width: 100%;
    height: 100%;
    transform: translateX(4rem);

    @include respond(big-desktop) {
      transform: translateX(10rem);
    }
  }
  &__slider-arrow {
    background: #fff;
    display: inline-block;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    @include respond(tab-land) {
      display: none;
    }

    img {
      width: 20%;
    }
    &--left {
      left: 2rem;
      @include respond(big-desktop) {
        left: 5rem;
      }
    }
    &--right {
      right: 2rem;
      @include respond(big-desktop) {
        right: 5rem;
      }
    }
  }
  &__circles {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 10rem;
    justify-content: space-around;
    @include respond(tab-land) {
      display: none;
    }
  }
  &__circle {
    width: 8px;
    height: 8px;
    border: 1px solid #ff3263;
    border-radius: 100px;

    color: #ff3263;
    &--active {
      background: #ff3263;
    }
  }
}

.hero-heading {
  margin-bottom: 3rem;
  &__sub {
    color: #ff3263;
    display: block;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  &__main {
    display: block;
    @include fontSec;
    font-size: 5.5rem;
    font-weight: 400;
  }
}

.btn-primary {
  padding: 1.8rem 2.2rem;
  background: #ff3263;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  &__text {
    font-size: 1.6rem;
    margin-right: 2rem;
    font-weight: 700;
  }
  &__icon {
    width: 1rem;
  }
}

.btn-sec {
  padding: 1.2rem 1.6rem;
  background: #ff3263;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  &__text {
    font-size: 1.2rem;
    margin-right: 2rem;
    font-weight: 700;
  }
  &__icon {
    width: 0.7rem;
  }
}

.main-products {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 6rem 0;
  }
}

.products-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6rem 3rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 2rem;
  }
}

.product-preview {
  cursor: pointer;
  &__img-cont {
    background: #f6f6f6;
    margin-bottom: 2rem;
  }
  &__img {
    width: 100%;
  }
  &__name {
    font-size: 1.6rem;
    color: #414141;
    margin-bottom: 7px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 800;
  }
}

.main-offer {
  padding: 5rem 0;
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
    @include respond(phone) {
      grid-gap: 3rem;
    }
  }
}

.offer-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background: #f6f6f6;
  &__img-cont {
    display: flex;
    align-items: flex-end;
    @include respond(tab-land) {
      align-items: center;
    }
  }
  &__img {
    width: 100%;
  }

  &__content {
    padding: 6rem 2rem 6rem 0;
  }
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__desc {
    font-size: 1.3rem;
    color: #444;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.8;
  }
}
.testi {
  padding: 8rem 0 0 0;
  @include respond(tab-port) {
    padding: 5rem 0 0 0;
  }
  &__wrapper {
    padding: 8rem 0;
    position: relative;
    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
  &__bg-design {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: #ff3263;
    z-index: 0;
  }
  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    z-index: 1;
    max-width: 120rem;
    width: 90%;
    margin: auto;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
}

.testimonial {
  display: flex;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  background: #fff;
  @include respond(tab-port) {
    padding: 4rem;
  }
  &__img-cont {
    width: 10%;
    @include respond(phone) {
      width: 15%;
    }
  }
  &__img {
    width: 100%;
  }
  &__content {
    width: 90%;
    padding: 0 2rem;
  }
  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1px;
  }
  &__prof {
    color: #c5c5c5;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &__review {
    font-size: 1.5rem;
    line-height: 2;
    @include fontSec;
  }
}

.features {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 5rem 0;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}

.feature {
  padding: 3rem;

  background: #ffffff;
  //box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.03);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &__img-cont {
    margin-bottom: 2rem;
    width: 5rem;
  }
  &__img {
    width: 100%;
  }
  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__desc {
    font-size: 1.4rem;
    color: #5a5a5a;
    line-height: 2;
  }
}

.blog-preview {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 5rem 0;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}

.single-blog-item {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &__img-cont {
    width: 100%;
  }
  &__img {
    width: 100%;
  }
  &__content {
    padding: 2rem 2rem;
  }
  &__tags {
    margin-bottom: 2rem;
  }
  &__tag {
    padding: 5px 2rem;
    border-radius: 100px;
    text-transform: uppercase;
    color: #818181;
    background: #f3f3f3;
    font-weight: 700;
    font-size: 8px;
    letter-spacing: 1px;
    margin-right: 1rem;
  }
  &__info {
    color: #535353;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    @include fontSec;
    font-weight: 400;
  }
  &__desc {
    font-size: 1.2rem;
    line-height: 2;
    color: #5a5a5a;
  }
}

.cta {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 6rem 0;
  }
  &__news-ltr {
    background: #f7f7f7;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 10rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      margin-bottom: 0rem;
    }
  }
  &__news-ltr-cont {
    padding: 9rem 6rem;
    @include respond(tab-port) {
      padding: 6rem 3rem 2rem 3rem;
      text-align: center;
    }
  }
  &__news-ltr-title {
    @include fontTert;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  &__news-ltr-desc {
    color: #5a5a5a;
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 2.5rem;
    max-width: 40rem;
    @include respond(tab-port) {
      margin: 0 auto 2.5rem auto;
    }
  }
  &__news-ltr-form {
    display: flex;
    @include respond(tab-port) {
      justify-content: center;
    }
  }
  &__news-ltr-input {
    padding: 1.6rem 2rem;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-right: 1rem;
    width: 60%;
    @include respond(phone) {
      margin-right: 0;
      width: 70%;
    }
  }
  &__news-ltr-submit {
    background: #ff3263;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 0 3rem;
    @include respond(phone) {
      padding: 0 2rem;
    }
  }
  &__news-ltr-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__news-ltr-img {
    width: 50%;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &__bottom-cont {
    padding: 10rem 0;
    @include respond(tab-port) {
      padding: 6rem 0;
      text-align: center;
    }
    @include respond(phone) {
      padding: 6rem 0 0 0;
    }
  }
  &__bottom-title {
    @include fontTert;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &__bottom-desc {
    color: #5a5a5a;
    font-size: 1.4rem;
    line-height: 2.5;
    margin-bottom: 2.5rem;
    margin-bottom: 2rem;
  }
  &__bottom-btn-primary {
    @include respond(tab-port) {
      margin: auto;
    }
  }
  &__bottom-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    overflow: hidden;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__bottom-img {
    width: 70%;
    margin-top: -20%;
  }
}

.main-footer {
  background: #f6f6f6;
  &__top {
    padding: 10rem 0 10rem 0;
    @include respond(tab-port) {
      padding: 6rem 0;
    }
    @include respond(phone) {
      padding: 6rem 0 4rem 0;
    }
  }
  &__top-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__logo {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include fontTert;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 10rem;
  }
  &__social-img {
    width: 1.6rem;
  }
  &__contact-cont {
    margin-bottom: 4rem;
    @include respond(phone) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__contact-item-icon {
    width: 1.5rem;
    margin-right: 1.5rem;
  }
  &__contact-item-name {
    color: #464646;
    font-size: 1.2rem;
  }
  &__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom {
    padding: 3rem 0;
    border-top: 1px solid #eee;
  }
  &__bottom-content {
    font-size: 1.4rem;
    color: #8f8f8f;
  }
  &__bottom-img-cont {
    width: 40rem;
    @include respond(tab-port) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}

.common-list {
  &__heading {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    color: #000;
  }
  &__item {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #585858;
  }
}
