.product-main {
  padding: 8rem 0;
  background: #fdfdfd;
  &__row {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 8rem;
  }
  &__visual {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 3rem;
  }
  &__small-img-cont {
    margin-bottom: 1.5rem;
  }
  &__small-img {
    width: 100%;
  }

  &__big-img-cont {
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__big-img {
    width: 80%;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__desc {
    line-height: 2.1;
    font-size: 1.5rem;
    color: #747474;
    margin-bottom: 3rem;
  }
  &__prices {
    margin-bottom: 2rem;
  }
  &__price-prev {
    font-size: 2.5rem;
    color: #ff3263;
    margin-right: 1rem;
    @include fontTert;
    letter-spacing: 1px;
  }
  &__price-curr {
    font-size: 3.5rem;
    letter-spacing: 1px;
    @include fontTert;
  }
  &__cart-actions {
    display: flex;
    margin-bottom: 15rem;
  }
  &__cart-counter {
    display: flex;
  }
  &__cart-counter-btn {
    display: block;
    padding: 8px 2.5rem;
    font-size: 2.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
  }
  &__cart-counter-btn-dark {
    background: #f8f8f8;
  }
  &__cart-counter-txt {
    padding: 0 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  &__cart-main {
    display: flex;
    padding: 0 3rem;
  }
  &__cart-main-btn {
    margin-right: 2.5rem;
    border-radius: 3px;
    background: #ff3263;
    border: 1px solid #ff3263;
    color: #fff;
    padding: 0 4rem;
    font-weight: 700;
    font-size: 1.4rem;
  }
  &__cart-main-btn-lt {
    background: #fff;
    color: #ff3263;
  }
  &__info-opts {
    display: flex;
    margin-bottom: 4rem;
  }
  &__info-opt {
    padding: 1rem 4rem;
    font-weight: 700;
    background: transparent;
    &--active {
      background: #f8f8f8;
      border-radius: 3px;
    }
  }
  &__info-main-para {
    color: #3c3c3c;
    font-size: 1.5rem;
    line-height: 2.6;
    margin-bottom: 3rem;
  }
}

.product-reviews {
  padding: 0 0 8rem 0;
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}
